body::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --time:5s;
}

a {
    text-decoration: none;
}

.home {
    color: white;
    transform: translateY(-1555%);
    text-align: center;
    width: 60px;
    height: 25px;
    margin: 25px;
    padding: 10px;
}

.home img {
    max-width: 200%;
    transition: all 0.3s;
}

.home:hover img {
    transform: scale(1.1);
}

.body {
    background: black;
}

.banner {
    background: black;
    width: 100%;
    margin: 0;
}

.menu {
    background: black;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    word-spacing: 200px;
    
}

.scene {
    width: 100vw;
    height: 325vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sky {
    background: linear-gradient(to top, rgb(0, 132, 255), rgb(0, 0, 0));
    background-image: linear-gradient(to bottom, black, rgb(42, 140, 185));
    position: relative;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0, 0.4));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 95%;
    margin: 0;
    
}

.sun{
    mix-blend-mode: multiply;
    transform: translateY(-65%);
    animation: set var(--time) ease infinite;
    bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

}



.ocean {
    height: 5%;
    width: 100%;
    background-color: rgb(0, 12, 53);
    background-image: linear-gradient(to bottom, rgb(0, 2, 95), rgb(0, 0, 0));

}

.footer {
    color: white;
    text-align: center;
    transform: translateY(150px);
    bottom: 0;
}

.horizontal {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 0px;
  
    /* visual styling */
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 0px;
    padding-left: 0px;
}

.horizontal-2 {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 0px;
  
    /* visual styling */
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 0px;
    padding-left: 0px;
}

.horizontal-3 {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 0px;
  
    /* visual styling */
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 0px;
    padding-left: 0px;
}

.mar {
    color: white;
    font-size: 70px;
    margin: 30px;
    text-align: center;
}

dl {
    margin-left: 50px;
    margin-right: 50px;
}

dd {
    margin-bottom: 180px;
}

.horizontal section { 
    height: 70vh;
    width: 100vw; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: row;
    padding: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 30px; 
}
  
.horizontal section.pop { 
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4); 
}

.horizontal section:nth-of-type(even) { 
    background: #fff;
    padding: 50px;
}

.horizontal section:nth-of-type(1) { 
    background-image: url('img/Fusha.png'); 
}

.horizontal section:nth-of-type(3) { 
    background-image: url('img/Baratie.png'); 
}

.horizontal section:nth-of-type(5) { 
    background-image: url('img/shells.png'); 
}

.horizontal section:nth-of-type(7) { 
    background-image: url('img/syrup.png'); 
}

.horizontal section:nth-of-type(9) { 
    background-image: url('img/cocoyasi.png'); 
}

.horizontal-2 section { 
    height: 70vh;
    width: 100vw; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: row;
    padding: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 30px; 
}
  
.horizontal-2 section.pop { 
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4); 
}

.horizontal-2 section:nth-of-type(even) { 
    background: #fff;
    padding: 50px;
}

.horizontal-2 section:nth-of-type(1) { 
    background-image: url('img/drum.png'); 
}

.horizontal-2 section:nth-of-type(3) { 
    background-image: url('img/alabasta.png'); 
}

.horizontal-2 section:nth-of-type(5) { 
    background-image: url('img/skyp.png'); 
}

.horizontal-2 section:nth-of-type(7) { 
    background-image: url('img/water.png'); 
}

.horizontal-2 section:nth-of-type(9) { 
    background-image: url('img/ennl.png'); 
}

.horizontal-2 section:nth-of-type(11) { 
    background-image: url('img/thrb.png'); 
}

.horizontal-2 section:nth-of-type(13) { 
    background-image: url('img/saba.png'); 
}

.horizontal-2 section:nth-of-type(15) { 
    background-image: url('img/marine.png'); 
}

.horizontal-3 section { 
    height: 70vh;
    width: 100vw; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: row;
    padding: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 30px; 
}
  
.horizontal-3 section.pop { 
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4); 
}

.horizontal-3 section:nth-of-type(even) { 
    background: #fff;
    padding: 50px;
}

.horizontal-3 section:nth-of-type(1) { 
    background-image: url('img/fishman.png'); 
}

.horizontal-3 section:nth-of-type(3) { 
    background-image: url('img/punk.png'); 
}

.horizontal-3 section:nth-of-type(5) { 
    background-image: url('img/dress.png'); 
}

.horizontal-3 section:nth-of-type(7) { 
    background-image: url('img/ZouI.png'); 
}

.horizontal-3 section:nth-of-type(9) { 
    background-image: url('img/whck.png'); 
}

.horizontal-3 section:nth-of-type(11) { 
    background-image: url('img/wano.png'); 
}